/* -------------sektion12---------------------- */
section{
    background-color: #eceae0;
    height: 600px;
    width: 430px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    margin: auto;
    border: solid;
    border-color:#f0a0cc ;
}

h1, p{
    color: #593310;
}

h1{
    display: flex;
    justify-content: center;
}

.border{
    background-color: #f0a0cc;
    height: 2px;
    width: 300px;
}


/* -----------------icons----------------------------- */
.heart:hover{
background-image: url(./svg/filled_heart.svg);
}

.heart{
width: 30px;
height: 30px;
}

/* -------------add a new thing---------------------- */
.add{
margin-top: 20px;
}

input{
    width: 250px;
    border-color: #f5cede;
}

button{
    background-color: #f5cede;
    border-color: #f5cede;
    border-radius: 24px;
    height: 25px;
    width: 50px;
}

button:hover{
    background-color: #f0a0cc;
}

.flex{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.delete_task:hover{
    text-decoration: line-through;
}

ul{
    list-style: none;
}

#todos:hover{
    text-decoration: line-through;
}